

.navbar {

  display: flex;
  justify-content: space-between;
  background-color: #3178FF;
  padding: 1.2em;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index:1;
  top: 0;
  left: 0;
      
}
 .menu {

  display: flex;
  flex-direction: row;
  
      
} 
.logo{
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}
.navbar h1 {
  color: #FAE647;
}
.navbar h1 span {
  color: #2624DB;
}
.list{
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}
.item {
  margin-right: 1em;
}
.item a{
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.item a:hover {
  color: #2624DB;
}
.menuButton{
  display: none;
}

@media (max-width: 720px) {
  .navbar{
    display: grid;

    
  }

  .logo{
    width: 100%;
    display: block;
    text-align: start;
  }
    
  .list{
   
    display: block; 
    width: 380px;
    height: 324px;
    z-index: 2;
    margin-top: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
    transition: 0.2ms;

  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
  }
  .menuButton {
    display: inline;
    width: 40px;
    height: 42px;
    color: #FAE647;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    margin-left: 320px;
    margin-top: -32px;
  }
  .menuButton, .menu.active{
    content: "X";
  }
  .inactive {
    display: none;
  }
}